<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
            <div>
            <h1><a href="/">Django Girls Tarea</a></h1>
        </div>

     {% for post in posts %}
        <div>
            <p>publicado: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
{% endfor %}
        <div>
            <p>published: 16.10.2019, 12:14</p>
            <h2><a href="">Segundo post</a></h2>
            <p>Comprobando que todo funcione.</p>
        </div>
</body>
</html>