<html>
    <head>
        <title>Django Girls tarea</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Desarrollo Web</a></h1>
        </div>

        <div>
            <p>publicado: 16/10/2019, 21:19</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Tarea de desarrollo web con el ingeniero Molina.</p>
        </div>

        <div>
            <p>publicado: 16/10/2019, 21:18</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Solo para ver que funciona.</p>
        </div>
    </body>
</html>